.main-container {
  display: flex;
  background-image: url("https://assets.ccbp.in/frontend/react-js/reviews-bg.png");
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.reviews-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .reviews-carousel {
    width: 550px;
  }
}
.heading {
  font-size: 40px;
  font-weight: 500;
  margin-top: 64px;
  font-family: "Robot";
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
    margin-top: 120px;
  }
}
.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
}
@media screen and (min-width: 768px) {
  .carousel-container {
    width: 45%;
    min-width: 622px;
  }
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
.user-image {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.user-name {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}
.company {
  color: #171f46;
  font-family: "Roboto";
  font-size: 14px;
}

.description {
  text-align: center;
  color: #171f46;
  font-family: "Roboto";
  font-size: 16px;
}
